<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>

        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 21.02.2019, 11:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post.From the mac I am creating it.hope you like it!</p>
          
        </div>

        <div>
            <p>published: 21/02/2019, 12:00</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post.From the mac I am creating it.hope you like it!</p>
        </div>
    </body>
</html>